name: Deploy Frontend Bida

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.REMOTE_PORT }}
          script: |
            cd ${{ secrets.TARGET_DIR }}
            git fetch --all
            git reset --hard origin/main

            # Cài đặt và build
            npm install
            npm run build

            # Kiểm tra xem thư mục dist có tồn tại không để tránh lỗi Nginx 404
            if [ -d "dist" ]; then
              echo "Build thành công, Nginx sẽ tự nhận file mới."
            else
              echo "Build thất bại!"
              exit 1
            fi
